@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Insurance</h1>
    <p class="lead">Don't worry! Drive Happy!</
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Best policies in the game!</h2>
        <p>
            Powerful Insurance for when you need it most!
        </p>
    </div>
    <div class="col-md-4">
        <h2>The safer you drive, the more you save!</h2>
        <p> Saftey is the best policy!</p>
    </div>
    <div class="col-md-4">
        <h2>24hr Road Side Assistance</h2>
        <p>We're always ready for when you need us most.</p>
    </div>
</div>